/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2016, 6:43:17 PM
    Author     : morar
*/

.divHeader{   
    background-color: midnightblue;
    border-collapse:collapse;
    border:1px solid navy;
    overflow-x: auto;
}

.divSubHeader{
    border-collapse:collapse;
    border:cornflowerblue;
    border-style: solid;
}

.divFooter{
    position:absolute;
    bottom:0;
    background: midnightblue;
    color: white;
    width: 99%;
}

.menuBtn{
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    width: 120px;
    border: solid cornflowerblue;
    height: 25px;    
}

.cmdBtn{
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    width: 120px;
    border: none;
    /* height: 25px; */
}

