/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2016, 6:43:17 PM
    Author     : morar
*/

.divHeader{   
    background-color: midnightblue;
    border-collapse:collapse;
    border:1px solid navy;
    overflow-x: auto;
}

.divSubHeader{
    border-collapse:collapse;
    border:cornflowerblue;
    border-style: solid;
    border-width: thin;
}

.divFooter{
    position:absolute;
    bottom:0;
    background: midnightblue;
    color: white;
    width: 99%;
}

.divTable{
    padding: 3px;
    background-color: gainsboro; 
    border-collapse: collapse;
    border-width: thin;
    border-color: lightgray;
    border-style: solid;
    overflow-x: auto; 
    overflow-y: auto;
    height: 370px; 
    align-items: center
}

.divErrorMsg{
    background-color: brown;
    width: 100%;
    overflow-x: scroll;
}

.lblError{
    color: yellow;
    /* font-weight: bold; */
    display: block;
    width: 99%;
}

.menuBtn{
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    width: 120px;
    border: solid cornflowerblue;
    height: 25px;    
}

.cmdBtn{
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    width: 120px;
    border: none;
    /* height: 25px; */
}

